#container {
	width: 80%;
	margin: 50px auto;
	text-align: center;
}

#minutes {
	width: 100px;
	margin-right: 7px;
}

#overrideLimit {
	width: 100px;
	margin-right: 7px;
}

#time {
	width: 130px;
	margin-right: 7px;
}

#minuterow, #overrideLimitRow {
	width: max-content;
	margin: auto;
}

#title {
	margin-bottom: 40px;
}

.big-checkbox {
	width: 30px;
	height: 30px;
}

.medium-checkbox {
	width: 20px;
	height: 20px;
	margin-top: 0.2rem;
	margin-left: -1.5rem;
}

.day-label {
	width: 100px;
	text-align: right;
}